.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 100; /* Ensure it's above everything else */
}

.wishlistsidebar {
  position: fixed;
  top: 0;
  right: -400px; /* Adjust as needed */
  height: 100%;
  width: 400px; /* Adjust as needed */
  background-color: #fff; /* Change to white */
  transition: right 0.3s ease;
  z-index: 9999;
}

.wishlistsidebar.open {
  right: 0;
}

.wishlistdiv1 {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  border: 0;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.wishlistdiv1child1 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: gray;
  margin: 10px 20px;
}

.wishlistMainBody {
  overflow-y: scroll;
  height: 70%; /* Adjust the height as needed */
  padding: 10px;
}

.wishlistItem {
  margin-bottom: 20px;
}

.productDetails {
  display: flex;
  align-items: center;
}
.productdetails2{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.productInfo p{
  font-size: 15px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wishlistitemremove{
  border: 0px;
  background: none;
}
.wishlistitemremovechild{
  color: gray;
  border-radius: 50%;
  border: 1px solid gray;
  padding: 5px 7px 4px 7px;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}
.wishlistitemremovechild:hover{
  border-color: black;
  color: black;
}

.productDetails img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.productInfo h6 {
  margin: 0;
}

.lastbutton {
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 10px;
  background-color: #c93535;
  color: white;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 1px;
  border: 0px;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lastbutton:hover {
  background-color: #000000;
  cursor: pointer;
}

.body1 {
  margin-top: 50%;
}
