.card {
  width: 18rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  position: absolute;
  top: 10px;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 1.5rem;
}

.favoriteIcon {
  right: 10px;
  top: 25px;
}

.eyeIcon {
  right: 10px;
  top: 55px;
}

.favoriteIcon:hover {
  color: #c93535 !important;
}

.eyeIcon:hover {
  color: #c93535 !important;
}

.badgeHover {
  position: absolute;
  padding: 5px 10px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.favoriteBadge {
  top: 40px;
  right: 25px;
}

.eyeBadge {
  top: 70px;
  right: 25px;
}

.favoriteIcon:hover + .favoriteBadge,
.eyeIcon:hover + .eyeBadge {
  opacity: 1;
}

.favoriteBadge {
  background-color: red !important; /* Updated */
}

.eyeBadge {
  background-color: red !important; /* Updated */
}

.cardImage {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.cardBody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.cardTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.priceRectangle {
  border: 1px solid #c93535 !important;
  padding: 5px 10px;
  font-weight: bold;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #c93535 !important;
}

.rating {
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customButton {
  background-color: #c93535 !important;
  border-color: #c93535 !important;
}

.customButton:hover {
  background-color: #a82a2a !important;
  border-color: #a82a2a !important;
}
