@tailwind base;
@tailwind components;
@tailwind utilities;

.mypencil{
    /* position: absolute; */
    
    color: #32001a;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
}
.myLink{
    text-decoration: none !important;
    color:#9a5b65 !important;
}
.mypencil2{
    color: #32001a !important;
    padding: 0px ;
    /* padding: 0px !important; */
    border-radius: 50%;
    cursor: pointer;
    font-size: 9px;
    line-height: 0px;
    /* width:34px; */
    --bs-spinner-width: 12px !important;
    --bs-spinner-height: 12px !important;
}
.myImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 25%;
    right:8%;
    position: absolute;
    background-color: #9a5b65;
    padding: 5px;
    width: 24px;
    height: 26px;
    border-radius: 50%;
}
.user-image{
    position: relative;
}

.donot-center{
    text-align: start;
}