.footer2 {
    background-color: #f8f9fa;
    color: #6c757d;
    margin-top: 40px;
    padding-top: 70px;
    padding-bottom: 60px;
  }
  
  .social-icons a {
    color: #6c757d;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }

  .social-icons button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    transition: all 0.4s ease-in-out;
    border: 0px;
  }

  .social-icons button:hover{
    background-color: #c93535;
  }  
  
  @media (min-width: 992px) {
    .footer {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .footer-links a {
    color: #c93535 !important; /* Custom color for links */
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 500;
  }
  .footerform button{
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #c93535;
    color: white;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
  }
  
  .footer-links a:hover {
    color: #861c1c; /* Custom color on hover */
  }
  