@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.admin-page {
  display: flex;
  min-height: 640px;
}

.admin-sidebar {
  width: 250px;
  background-color: #f9fafb;
  border-right: 1px solid rgb(219, 219, 219);
  padding-top: 30px;
  overflow-y: auto; /* Enable sidebar scrolling if content exceeds height */
}
@media(max-width:787px){
  .admin-sidebar{
    display: none;
  }
}

.admin-content {
  flex: 1; /* Allow content to expand */
  background-color: #f9fafb;
  padding: 30px;
  overflow-y: auto; /* Enable content scrolling if content exceeds height */
}